/* Rober CSS*/

p{
    
    font-size: 72px;
	font-family: 'droidregular';
    /*font-family: 'exo_2.0bold';*/
    
  }
  .pr1 {
    color: #113F8C;
    font-family: 'daysregular';
    
  }
  .pr2 {
    color: #01A4A4;
    font-family: 'daysregular';
  }
  .pr3{
    color: #00A1CB; 
    font-family: 'daysregular';
    
  }
  .pr4 {
  	color: #D0D102;
    font-family: 'daysregular';
      }
  .pr5 {
    color: #32742C;
    font-family: 'daysregular';
	  }
  .pr6 {
  	color: #D70060;
    font-family: 'daysregular';
	}
  .pr7{
    color: #E54028; 
    font-family: 'daysregular';
  }
  .pr8{
    color: #F18D05;
    font-family: 'daysregular';
  }
  .pr9{
    color: #616161; 
    font-family: 'daysregular';
	}
  .pr10 {
    color: #113F8C;
    font-family: 'daysregular';
	}
  .pr11{
    color: #113F8C; 
    font-family: 'daysregular';
	}
  .pr12{
    color: #01A4A4; 
	}
  .ps1 {
    color: #113F8C;
    font-family: 'geometry_soft_probold_n';
    
  }
  .ps2 {
    color: #01A4A4;
    font-family: 'geometry_soft_probold_n';
  }
  .ps3{
    color: #00A1CB; 
    font-family: 'geometry_soft_probold_n';
    
  }
  .ps4 {
    color: #D0D102;
    font-family: 'geometry_soft_probold_n';
  }
  .ps5 {
    color: #32742C;
    font-family: 'geometry_soft_probold_n';
    
  }
  .ps6 {
    color: #D70060;
    font-family: 'geometry_soft_probold_n';
  }
  .ps7{
    color: #E54028; 
    font-family: 'geometry_soft_probold_n';
  }
  .ps8 {
    color: #F18D05;
    font-family: 'geometry_soft_probold_n';
  }
  .ps9{
    color: #616161; 
    font-family: 'geometry_soft_probold_n';
  }
  .ps10 {
    color: #113F8C;
    font-family: 'geometry_soft_probold_n';
  }
  .ps11{
    color: #113F8C; 
    font-family: 'geometry_soft_probold_n';
  }
  .ps12{
    color: #01A4A4;

  }

  .pt1 {
    color: #113F8C;
    font-family: 'nunitobold';
    
  }
  .pt2 {
    color: #01A4A4;
    font-family: 'nunitobold';
  }
  .pt3{
    color: #00A1CB; 
    font-family: 'nunitobold';
    
  }
  .pt4 {
    color: #D0D102;
    font-family: 'nunitobold';
  }
  .pt5 {
    color: #32742C;
    font-family: 'nunitobold';
    
  }
  .pt6 {
    color: #D70060;
    font-family: 'nunitobold';
  }
  .pt7{
    color: #E54028; 
    font-family: 'nunitobold';
  }
  .pt8 {
    color: #F18D05;
    font-family: 'nunitobold';
  }
  .pt9{
    color: #616161; 
    font-family: 'nunitobold';
  }
  .pt10 {
    color: #113F8C;
    font-family: 'nunitobold';
  }
  .pt11{
    color: #113F8C; 
    font-family: 'nunitobold';
  }
  .pt12{
    color: #01A4A4;
    font-family: 'nunitobold';
	}

	.pb1{
	font-size: 72px;
    color: #616161;
    font-family: 'yellowtailregular';
	}
	.pb2{
	font-size: 72px;
    color: #616161;
    font-family: 'gooddogregular';
	}